# Segmenting and Clustering Neighborhoods in Toronto - Assignment

Retreving the Wikipedia page using Request lib & importing the html lib to read the table data

In [3]:
import requests 
url1='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
import lxml.html as lh
page = requests.get(url1)
doc = lh.fromstring(page.content)
tr_elements = doc.xpath('//tr')

Reteriving the columns & values of the table using the html Tags

In [4]:
col=[]
i=0
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Postcode"
2:"Borough"
3:"Neighbourhood
"

In [5]:
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    if len(T)!=3:
        break
    i=0
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
            try:
                data=int(data)
            except:
                pass
        col[i][1].append(data)
        i+=1        
[len(C) for (title,C) in col]

[289, 289, 289]

Using Pandas to convert the data into a table format

In [31]:
import pandas as pd
My_table={title:column for (title,column) in col}
df=pd.DataFrame(My_table)
df.rename(columns={'Neighbourhood\n': 'Neighbourhood'}, inplace=True)
df.columns

df=df[['Postcode','Borough','Neighbourhood']]

In [32]:
df.replace('\n','', regex=True, inplace=True)
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Dropped the rows that contain 'Not Assigned'

In [36]:
df=df[~df['Neighbourhood'].isin(['Not assigned'])]
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

Appiled the Groupby function to combine the Neighbourhood -

In [46]:
df = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()
df[['Postcode','Borough','Neighbourhood']].head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Malvern, Rouge
1      M1C  Scarborough  Highland Creek, Port Union, Rouge Hill
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae